body {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #F4F6FC;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    color:#6B708D;
}

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display:flex;   
    justify-content: space-between;
    align-items: center;
    color:#6B708D;
    height: 60px;
    padding: 0px 30px;
}

.nav-logo {
    padding:0px;
    height: 18px;
    width: 60px;
}

.nav-logo img{
    width: 100%;
    height: 100%;
}

.nav-menu {
    list-style: none;
    text-align: left;
    display: none;
    padding:0px;
}

.nav-menu a {
    text-decoration: none;
    padding:20px;
    color:#6B708D;
}

#nav-home {
    color:#0082F3;
} 

.burger-menu {
    border:none;
    background-color: transparent;
    padding:0px;
}
.svg {
    padding:18px;
}

.nav-button {
    background-color:#072AC8;
    display:none;
}

.nav-button a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    padding: 15px 30px;
}

.cursor-hand {
    cursor: pointer;
}

.hero {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding: 0px 30px;
}

.hero-content {
    display:flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #292E47;
    font-weight: 700;
    margin: 20px 0px 30px;
}

.hero p {
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    max-width:90%;
    margin: 0px 0px 40px;
}


#hero-link1 {
    background-color:#072AC8;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: white;
    text-decoration: none;
    height: 50px;
    border:none;
    padding: 15px 30px;
    margin:0 40px 0 0;
}

#hero-link2 {
    text-decoration: none;
    color: #6B708D;
}

.hero-images-container {
    position:relative;
    margin:40px 0 0 0;
    max-width: 560px;
    max-height: 625px;
}

#Hero-image {
    width:100%;
    height: 100%;
}

#card1-img {
    display:none;
}

#card2-img {
    display:none;
}

.hero-logos {
    height: 208px;
    width: 100%;
    margin:40px 0 0 0;
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap:20px 50px;
}

.hero-logos img {
    filter:grayscale(1)
}

.hero-logos img:hover {
    filter:grayscale(0);
}

#Amazon-logo {
    display:none;
}

.projects {
    margin-top:40px;
    padding:0px 30px;
}

.projects h2{
    font-size: 40px;
    color:#292E47;
    text-align: center;
    margin: 20px 0px 10px;
}

.projects-grid {
    margin-top:40px;
    display:grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
}

.projects-article-image {
    height: 240px;
}

.projects-article-image img {
    height: 240px;
    width: 100%;
    object-fit:cover;
}

.projects-article-texts {
    height: 204px;
    background-color: #FFFFFF;
}
.projects-article-texts h3 {
    font-size: 24px;
    color:#292E47;
    font-weight: 500;
    padding: 30px 30px 20px;
    margin:0px;
}

.projects-article-texts p {
    color:#292E47;
    font-weight: 400;
    padding: 0px 30px 10px;
    margin:0 0 30px 0;
}

.projects-article-texts a {
    text-decoration: none;
    color:#072AC8;
    padding:0px 30px 30px 30px;
}

.clients-container {
    height: 500px;
    background-color: #292E47;
    margin: 60px 0 0 0;
    background-image: url(./Project-assets/testimonial-section/orbit.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.clients-container h2 {
    color:#ECF7FF;
    font-size:40px;
    line-height: 60px;
    text-align: center;
    margin: 20px 0 0 0;
    max-width: 400px;
}

.clients-container p {
    color:#FFC600;
    font-size:24px;
    line-height: 40px;
    text-align: center;
    width: 75%;
}

#clients-example {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 170px;
}
#clients-example-img {
    width:50px;
    height:50px;
    border-radius:50px;
}

#clients-example-name {
    color:#A2D6F9;
    font-size:17px;
    text-align:left;
    line-height: 1;
    margin:0;
    width: fit-content;
    height: 20px;
}

#clients-example-firm {
    color:#ECF7FF;
    font-size:13px;
    text-align: left;
    line-height: 1;
    margin:0;
    width: fit-content;
    height: 20px;
}

.clients-emojis img {
    display:none;
}
#emoji-top-left {
    top:10%;
    left:10%;
}

#emoji-top-right {
    top:10%;
    right:10%;
}

#emoji-bottom-left {
    bottom:10%;
    left: 10%;
}

#emoji-bottom-right {
    bottom:10%;
    right: 10%;
}

.services h2 {
    font-size: 40px;
    color: #292E47;
    line-height: 1;
    text-align: center;
    width: 100%;
    margin:20px 0 10px;
}

.services-container {
    margin: 40px 0 0;
    padding:0px 30px;
    display:grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    row-gap: 15px;
}

#service-1, #service-2, #service-3 {
    background-color: #FFFFFF;
    width: 100%;
}

#service-1-image, #service-2-image, #service-3-image {
    width: 80px;
    height: 80px;
    background-color:#ECF7FF;
    margin:40px 0 0 40px;
    border-radius:50px;
    position: relative;
}

.services img {
    position:absolute;
    top:25%;
    left:25%;
}

#service-1-h3, #service-2-h3, #service-3-h3 {
    color:#292E47;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin:30px 30px 20px;
}

#service-1-paragraph, #service-2-paragraph, #service-3-paragraph {
    color:#292E47;
    font-size: 17px;
    font-weight: 400;
    margin:0px 30px 10px;
}

#service-1-div-anchor, #service-2-div-anchor, #service-3-div-anchor {
    margin:30px;
}
#service-1-anchor, #service-2-anchor, #service-3-anchor {
    text-decoration: none;
    color:#072AC8;
}

.questions-container {
    background-color: #FFC600;
    margin: 60px 0 0 0;
    height: 440px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    padding:30px 0;
}

.questions-texts {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.questions-texts h2 {
    color:#292E47;
    font-size: 30px;
    margin:20px 0;
}

.questions-texts p {
    font-weight:400;
    text-align: center;    
}

.questions-form {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.input-container {
    position: relative;
}

.icon-form {
    position:absolute;
    left: 8%;
    top: 27%;
    right: auto;
    bottom: auto;
    width: 30px;
    height: 30px;
}
  
#questions-form-input {
    height: 64px;
    width: 311px;
    background-color:#ECF7FF;
    padding:8px 12px 8px 70px;
    font-size: 17px;
    border:none;
    outline: none;
}

#questions-form-input:focus {
    height: 62px;
    width: 309px;
    border: 1px solid #0082F3;
}

#questions-form-button {
    height: 80px;
    width: 393px;
    background-color: #072AC8;
    color:#FFFFFF;
    font-size: 17px;
    border:none;
}

#questions-form-button:hover {
    background-color:#292E47;
  }

footer {
    margin-top: 60px;
    padding:0px 30px 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-firstpart {
    width: 260px;
}
.footer-firstpart img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 30px;
    margin-bottom: 30px;  
}

.footer-firstpart p {
    text-align: center;
    line-height: 25px;
    margin:0px;
    font-weight: 400;
    color:#292E47;
}

.footer-links {
    margin-top:30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.footer-links a {
    text-decoration: none;
    color:#0000EE;
    font-weight: 400;
}


/* a partir de aquí ajustes exclusivos a landing "Contact"
*/
.contact-container {
    padding:0% 30px;
}

.h1-contact {
    font-size: 40px;
    text-align: left;
    margin:0 0 40px;
}

.form-container {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, fr);
    gap: 15px;
}

#form-field-1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
}

#form-field-2 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2 ;
}

#form-field-3 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
}

#form-field-4 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
}

#form-button {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 7;
}

.form-container label {
    font-size: 20px;
    font-weight: 400;
}

.form-container input {
    height: 54px;
    font-size:17px;
    color:#6B708D;
    margin:10px 0 10px;
    padding:8px 12px 8px 20px;
    background-color: #6B708D1A;
    border:none;
    width:95%;
}

.form-container textarea {
    height: 184px;
    font-size:17px;
    font-family: 'Roboto', sans-serif;
    color:#6B708D;
    margin-top:10px;
    padding:8px 12px 8px 20px;
    background-color: #6B708D1A;
    border:none;
    width:95%;
}

.form-container button {
    background-color: #072AC8;
    color:#FFFFFF;
    border:none;
    font-size: 17px;
    height: 80px;
}

/* a partir de aquí ajustes exclusivos a landing "project-single / projects"
*/
#the-project {
    padding:0px 30px;
}

#the-project h2 {
    font-size: 40px;
    color:#292E47;
    margin: 30px 0px 45px;
}

#the-project-text1 {
    font-size: 20px;
    margin:0px 0px 10px 0px;
}

#the-project-text2 {
    font-size: 20px;
    color:#292E47;
    font-weight: 400;
    margin:0px 5px 0px 0px;
}

#the-project-text2 span {
    color:#6B708D;
}

#the-project-image-container {
    margin-top:40px;
    margin-bottom:60px;
    height: 444px;
    position:relative;
}
#the-project-image-back {
    height: 100%;
    width: 100%;
    opacity: 50%;
    filter: blur(40px);
    object-fit: cover;
}

#the-project-image-front {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position:absolute;
    top:0;
    left:0;
}

#the-project-description {
    font-size: 20px;
    color:#292E47;
    font-weight: 400;
    line-height: 30px;
}

#the-project-description p {
    margin:0 0 10px 0;
}

#h2-Others {
    margin-top:100px;
}

.projects button {
    width: 100%;
    background-color:#6B708D;
    color: white;
    border:none;
    font-size:17px;
    margin:20px 0;
    padding:20px 0;
}

.projects button:hover {
    background-color: #292E47;
}



/* a partir de aquí ajustes a tamaños por los @media
*/
@media (max-width: 479px) {
    h1 {
        font-size: 30px;
        line-height: 40px;
    }
    .hero p {
        min-width: 100%;
    }
    .hero-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #hero-link1 {
        margin:0 0px 20px 0;
    }
    .clients-container h2 {
        font-size:30px;
        line-height: 40px;
    }
    .services h2 {
        font-size: 30px;
        margin:50px 0 10px;
    }
    .services-container {
        margin: 30px 0 0;
    }
    #questions-form-input {
        height: 64px;
        width: 161px;
    }
    #questions-form-input:focus {
        height: 62px;
        width: 159px;
    }
    
    #questions-form-button {
        width: 243px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 60px;
        line-height: 80px;
        margin: 20px 0px 30px;
    }
    .hero p {
        font-size: 20px;
        line-height: 30px;
    }
    #card1-img {
        display:block;
        position:absolute;
        top: 0;
        left: -20%;
        max-width: 294px;
    }
    #card2-img {
        display:block;
        position:absolute;
        right: -25%;
        bottom: -22%;
        max-width: 290px
    }
    .hero-logos {
        margin:130px 0 0 0;
    }
    .projects h2{
        text-align: left;
    }
    .projects-grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 35px;
        margin-top:80px;
    }
    .clients-emojis img {
        display: block;
        width: 100px;
        height: 100px;
        position: absolute;
    }
    .services h2 {
        text-align: left;
        margin:40px 0 10px;
        padding:0 30px;
    }
    .services-container {
        margin: 70px 0 0;
        padding:0px 30px;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 35px;
        align-items: baseline;
    }
    #service-1, #service-2, #service-3 {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: stretch;
    }
    .questions-texts h2 {
        font-size: 40px;
    }
    .questions-form {
        flex-direction: row;
        justify-content: space-between;
    }
    #questions-form-button {
        width: 185px;
        margin-left:20px
    }
    footer {
        flex-direction: row;
    }
    .footer-firstpart img {
        margin-left: 0;
    }
    .footer-firstpart p {
        text-align: left;
    }
    .footer-links {
        margin-top:0px;
    }
    .footer-links a {
        height: 48px;
    }

    /*adaptaciones para landing "Contact*/
    .h1-contact {
        font-size: 60px;
    }
    .form-container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, fr);
    }
    #form-field-1 {
        grid-column-end: 7;
    }    
    #form-field-2 {
        grid-column-end: 4;
    }
    #form-field-2 input, #form-field-3 input {
        width: 90%;
    }    
    #form-field-3 {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 2;
    }    
    #form-field-4 {
        grid-column-end: 7;
    }    
    #form-button {
        grid-column-end: 7;
    }
    
    /* a partir de aquí ajustes exclusivos a landing "Projects"
    */
    #the-project-text1 {
        float: left;
    }
    #the-project-text2 {
        float: right;
    }

    #the-project h2 {
        font-size: 60px;
    }
    #the-project-image-container {
        margin-top:60px;
    }
}

@media (min-width: 992px) {
    header {
        margin-top:70px;
    }
    nav {
        padding:0px;
    }
    .nav-logo {
        padding:0px;
    }
    .nav-menu {
        display:block;
        display:flex;
        justify-content: space-between;
    }
    .nav-button {
        display:block;
        display: flex;  
        height: 50px;
    }
    .burger-menu {
        display:none;
    }
    .hero {
        flex-direction: row;
        padding: 50px 30px 0px;
        justify-content: space-between;
        align-items: center;
        min-width: 915px;
        min-height: 464px;
    }
    .hero-content {
        max-width: 530px;
        display:flex;
        flex-direction: column;
        align-items:baseline;
    }
    h1 {
        font-size: 60px;
        line-height: 80px;
        margin: 20px 0px 30px;
        text-align: left;
    }
    .hero p {
        font-size: 20px;
        line-height: 30px;
        text-align: left;
        max-width:85%;
        margin: 0px 0px 40px;
    }
    .hero-links {
        display:flex;
        flex-direction: row-reverse;
        justify-content:flex-end;
        align-items: center;
    }
    #hero-link1 {
        margin:0 40px 0 20px;
    }
    .hero-main-image {
        margin:0px;
        width:auto;
        height: 480px;
        background-position-y:top;
    }
    #card1-img {
        display:block;
        position:absolute;
        left: -20%;
        top: 0%;
        max-width: 290px;
    }
    #card2-img {
        display:block;
        position:absolute;
        right: -25%;
        bottom: -20%;
        max-width: 290px;
    }
    .hero-logos {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: space-evenly;
        gap:16px;
    }
    #Amazon-logo {
        display:block;
    }
    .projects {
        margin-top:200px;
    }
    .projects h2{
        text-align: left;
    }
    .projects-grid {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 40px;
        margin-top:80px;
    }
    .clients-container {
        height: 622px;
        margin: 100px 0 0 0;
    }
    .clients-container h2 {
        line-height: 60px;
        text-align: center;
        margin: 20px 0 0 0;
        max-width: fit-content;
    }
    .clients-container p {
        width: 560px;
    }
    .clients-emojis img {
        display: block;
        width: 150px;
        height: 150px;
        position: absolute;
    }
    .services h2 {
        text-align: left;
        margin:200px 0 10px;
        padding:0 30px;
    }
    .services-container {
        margin: 70px 0 0;
        padding:0px 30px;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 35px;
        align-items: baseline;
    }
    #service-1, #service-2, #service-3 {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: stretch;
    }
    .questions-texts h2 {
        font-size: 40px;
    }
    .questions-form {
        flex-direction: row;
        justify-content: space-between;
    }
    #questions-form-button {
        width: 185px;
        margin-left:20px
    }
    footer {
        flex-direction: row;
        margin-top:200px;
    }
    .footer-firstpart img {
        margin-left: 0;
    }
    .footer-firstpart p {
        text-align: left;
    }
    .footer-links {
        margin-top:0px;
    }
    .footer-links a {
        height: 48px;
    }

    /*adaptaciones para landing "Contact*/
    .h1-contact {
        font-size: 60px;
        margin-top:190px;
        margin-bottom: 70px;
    }
    .form-container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, fr);
    }
    #form-field-1 {
        grid-column-end: 7;
    }    
    #form-field-2 {
        grid-column-end: 4;
    }
    #form-field-2 input {
        width: 93%;
    }
    #form-field-3 input {
        width: 90%;
    }     
    #form-field-3 {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 2;
    }    
    #form-field-4 {
        grid-column-end: 7;
    }    
    #form-button {
        grid-column-end: 7;
    }

    /* a partir de aquí ajustes exclusivos a landing "Projects"
    */
    #the-project-text1 {
        float: left;
    }
    #the-project-text2 {
        float: right;
    }

    #the-project h2 {
        font-size: 60px;
        margin-top:100px;
    }
    #the-project-text1 {
        font-size: 24px;
    }
    #the-project-image-container {
        margin-top:70px;
    }  
    
}
